aws_region  = "us-east-1"
name_prefix = "starkbank-trial"

desired_count = 0

# Leave empty until a public domain and ACM certificate are ready.
certificate_arn = ""

github_repository = "lstavares/starkbank-backend-trial"
github_oidc_subjects = [
  "repo:lstavares/starkbank-backend-trial:*"
]

starkbank_environment       = "sandbox"
invoice_scheduler_enabled  = true
invoice_interval_hours     = 3
invoice_max_batches        = 8

database_name           = "starkbank_trial"
database_username       = "starkbank"
database_instance_class = "db.t4g.micro"

tags = {
  Project = "starkbank-backend-trial"
  Purpose = "demo"
}
